body{
  /*background-image: url("../img/barbershop-item.png");*/
  background-repeat: no-repeat;
  background-position: 50% 0;
  font-family: "PT Sans Narrow","Tahoma", "sans-serif";
  font-size:14px;
  line-height: 24px;
  color:#000000;
  font-weight: bold;
  margin: 0;
  padding:0;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
h1{
  font-family: "PT Sans Narrow","Tahoma", "sans-serif";
  font-size: 30px;
  text-transform: uppercase;
  line-height: 36px;
  color:#000000;
  font-weight: bold;
}
h2{
  font-family: "PT Sans Narrow","Tahoma", "sans-serif";
  font-size: 24px;
  text-transform: uppercase;
  line-height: 24px;
  color:#000000;
  font-weight: bold;
  padding-left: 10px;

}
.main-header{
  background-color: #000000;

}
.container{
  width: 940px;
  margin: 0 auto;
  padding:0 10px;
}
.logo{
  display: block;
  margin-top: 21px;
  margin-left: 19px;
  margin-right: 20px;
  float: left;
}
.main-navigation{
  width:  620px;
  float: left;
  margin: 0;
  padding:0;
}
.main-navigation{
  font-size: 0px;
}
.main-navigation li{
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
}
.main-navigation a{
  text-decoration: none;
  display: block;
  color: #ffffff;
  padding:26px 20px;
}
.main-navigation a:hover{
  background-color: #242424;
}
.active-page{
  margin: 0 20px;
  padding:26px 0px 22px;
  border-bottom: 4px solid #ffffff;
}
.user-block{
  max-width: 140px;
  text-transform: uppercase;
  float: right;
}
.login{
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  padding: 26px 20px 26px;
  padding-left: 50px;
  position: relative;
}
.login:hover{
  background-color: #242424;
}
.login::after{
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  background-image: url("../img/sprite.png");
  width: 18px;
  height: 16px;
  background-position: -104px -51px;
  opacity: 0.3;
}
.login:hover::after{
  opacity: 1;
}
main{
  background-color: #f8f5f2;
  background-image: url("../img/background.png");
}
.container-main{
  padding-top: 53px;
  padding-bottom: 39px;
  overflow: hidden;
}
.main-main-header{
  margin-bottom: 53px;
}
.main-main-header h1{
  margin: 0;
  margin-bottom: 18px;
}
.breadcrumbs{
  font-size: 0;
  margin: 0;
  padding: 0;
}
.breadcrumbs ul{
  vertical-align: top;
  font-size: 0;
}
.breadcrumbs li{
  display:inline-block;
  position: relative;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.breadcrumbs a{
  text-decoration: none;
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.breadcrumbs li:first-child{
  padding-left: 0px;
}
.breadcrumbs-shop {
  color: #000000;
  padding-left: 39px;
  position: relative;
}
.breadcrumbs-shop::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top:6px;
  left: 14px;
  background-image: url("../img/sprite.png");
  background-position: -10px -10px;
}
.breadcrumbs-care{
  color: #000000;
  padding-left: 45px;
  position: relative;
}
.breadcrumbs-care::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top:6px;
  left: 17px;
  background-image: url("../img/sprite.png");
  background-position: -10px -10px;
}
.breadcrumbs-travel-kit{
  display: block;
  color: #aba9a7;
  padding-left: 45px;
  position: relative;
}
.breadcrumbs-travel-kit::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top:6px;
  left: 16px;
  background-image: url("../img/sprite.png");
  background-position: -10px -10px;
}
.product{
  width: 940px;
  min-height: 670px;
}
.gallery{
  width: 460px;
  float:left;
}
.cover{
  margin-bottom: 13px;
}
.cover-img{
  box-shadow: 0 0 15px #dedbd9;
}
.cover-img-small{
  margin-right: 17px;
  box-shadow: 0 0 15px #dedbd9;
}
.cover-img-small-last{
  margin-right: 0;
}
.availability{
  display: inline-block;
  text-transform: uppercase;
  padding: 9px 173px 15px 10px;
}
.code{
  display: inline-block;
  text-transform: uppercase;
}
.composition{
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  padding-left: 10px;
  margin-bottom: 35px;
}
.bth{
  font-size: 14px;
  line-height:24px;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 33px;
}
.bth-dark{
  color:#ffffff;
  background-color: #000000;
}
.price{
  font-size: 0;
  margin-left: 11px;
  margin-bottom: 65px;
}
.price-tag{
  padding: 10px 28px;
}
.buy{
  padding: 10px 18px;
}
.bth-light{
  color:#000000;
  background-color: #e5e5e5;
}
.buy{
  text-decoration: none;
}
.stockroom{
  width: 400px;
  min-height: 668px;
  float: right;
  padding: 10px 0  0 10px;
}
.description-details-item{
  text-transform: uppercase;
  padding: 10px  0 0 10px;
  list-style:none;
}
.description-details-item li{
  padding-left: 21px;
  position: relative;
}
.description-details-item li::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top:6px;
  left: 0px;
  background-image: url("../img/sprite.png");
  background-position: -10px -10px;
}
.main-footer{
  min-height: 130px;
  padding-top: 56px;
  background-color: #222222;
  background-image:  url("../img/footer.png");
  text-transform: uppercase;
  color:#ffffff;
  font-size: 14px;
  line-height: 24px;
}
.main-footer a{
  text-decoration: none;
  color:#ffffff;
}
.main-footer p{
  padding: 0;
  margin: 0;
}
.footer-contacts{
  width: 320px;
  padding-left: 1px;
  float:left;
}
.footer-social{
  width: 180px;
  text-align: center;
  margin-left: 63px;
  float:left;
}

.footer-copyright{
  max-width: 180px;
  text-align: center;
  float: right;
}
.social-btn{
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  background-color: #000000;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background-image: url("../img/sprite.png");
  background-position: center;
}
.social-btn-vk {
  background-position: -75px -74px;
}
.social-btn-vk:hover {
  background-color: #ffffff;
  background-position: -1px -110px;
}
.social-btn-inst {
  background-position: -31px -42px;
}
.social-btn-inst:hover {
  background-color: #ffffff;
  background-position: -94px 0px;
}
.social-btn-fb {
  background-position: -57px -1px;
}
.social-btn-fb:hover {
  background-color: #ffffff;
  background-position: 4px -43px;
}
.footer-copyright a{
  padding: 12px 28px;
}
