body{
  background-image: url("../img/barbershop-item.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  font-family: "PTSans Narrow","Tahoma", "sans-serif";
  font-size:14px;
  line-height: 24px;
  color:#000000;
  font-weight: bold;
  margin: 0;
  padding:0;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
h1{
  font-family: "PTSans Narrow","Tahoma", "sans-serif";
  font-size: 30px;
  text-transform: uppercase;
  line-height: 24px;
  color:#000000;
  font-weight: bold;
}
h2{
  font-family: "PTSans Narrow","Tahoma", "sans-serif";
  font-size: 24px;
  text-transform: uppercase;
  line-height: 24px;
  color:#000000;
  font-weight: bold;
}
.main-header{
  min-height: 70px;
  background-color: rgba(255, 0, 0, 0.5);
margin-bottom: 50px;
}
.container{
  width: 940px;
  margin: 0 auto;
  background-color: rgba(255, 0, 100, 0.5);
  padding:0 10px;
  }
.logo{
  display: block;
  margin-top: 21px;
  margin-left: 19px;
  margin-right: 20px;
  float: left;
  }
.main-navigation{
  width:  620px;
  min-height: 72px;
  background-color: rgba(255, 200, 0, 0.5);
  float: left;
  margin: 0;
  padding:0;
  }
.user-block{
  width: 140px;
  min-height: 72px;
  float: right;
  background-color: rgba(255, 200, 0, 0.5);
}
.main-main-header{
  min-height: 80px;
  background-color: rgba(255, 200, 120, 0.5);
  margin-bottom: 50px;
}
.product{
  width: 940px;
  min-height: 670px;
  background-color: rgba(25, 200, 120, 0.5);
}
.gallery{
  width: 460px;
  min-height: 670px;
  background-color: rgba(25, 20, 120, 0.5);
  float:left;
}
.stockroom{
  width: 400px;
  min-height: 670px;
  background-color: rgba(25, 20, 120, 0.5);
  float: right;
}
.main-footer{
  min-height: 190px;
  background-color: rgba(25, 250, 20, 0.5);
  margin-top: 50px;
}
.footer-contacts{
  width: 320px;
  min-height: 190px;
  background-color: rgba(2, 240, 10, 0.5);
  float:left;
}
.footer-social{
  width: 180px;
  min-height: 190px;
  background-color: rgba(2, 240, 10, 0.5);
  margin-left: 60px;
  float:left;
}
.footer-copyright{
  width: 180px;
  min-height: 190px;
  background-color: rgba(2, 240, 10, 0.5);
  float: right;
}
